@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    var(--color-secondary) 0%,
    var(--color-dark) 100%
  );
  box-shadow: 0 16px 14px 0 rgba(var(--color-dark-rgb), 0.7);
  padding: 18px 24px;
  max-width: 600px;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-text);
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
  color: var(--color-text);
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-accent);
  color: var(--color-text-light);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text-light);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
